{% extends 'admin/base.html' %}
{% block content %}

<div class="container">
    <h1 class="text-center mb-5"> Login form</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6  border p-5 justify-content-center align-items-center">
       
            <div class="row p-2">
                <div class="col-lg-4"><label for="">Username</label></div>
                <div class="col-lg-8"><input type="text" name="uname" class="form-control"></div>
            </div>
            <div class="row p-2">
                <div class="col-lg-4"><label for="">Password</label></div>
                <div class="col-lg-8"><input type="password" name="password" class="form-control"></div>
            </div>
            <div class="row text-center">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
            
            </div>
            {% endblock %}