a{
    text-decoration: none;
    color: white;
}
.head
{
    background-color: rgb(227, 250, 239);
    
    height: 60px;
}
.list{
    background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list li
{
    display: inline;
    color: white;
    padding: 4px 4px 4px 4px;
    
   
}
.footer
{
    background-color: rgb(227, 250, 239);
    
    
    font-size: small; 
    opacity: 0.8;
}
.footer ul{
    list-style-type: none;
    padding: 0;
}
.usp{
    background-color: #0288d1;
    text-align: center;
    color:white
}
.usp3{
    background-color: rgb(170,182,240);
    text-align: center;
    color:white
}
.imgphone
{
    margin-bottom: 10px;
    background-color: white;
}
